{
  "network" : {
    "servers": [
      "${LOGSTASH_HOST}:${LOGSTASH_PORT}"
    ],
    "timeout": ${LOGSTASH_TIMEOUT},
    "ssl ca": "${LOGSTASH_CA}",
    "ssl certificate": "${LOGSTASH_CERT}",
    "ssl key": "${LOGSTASH_KEY}"
  },
  "files" : [
    {
      "paths": [
        "-"
      ],
      "fields": {
        "type": "stdin"
      }
    }
  ]
}
